
<%for (var t in tracks) {%>

<a class="track" href='/tracks/<%=tracks[t].id%>'>
	<% if(tracks[t].urlImage === ""){%>
		<img src="/images/quaver3.png">
	<%} else { %>
		<img src="<%=tracks[t].urlImage%>">
	<%}%>
	<p><%=tracks[t].name%></p>
</a>

<%}%>